.main{
    &_wrapper{
        background:url(../img/background.jpg) center center/cover no-repeat;
        min-height: 800px;
        position: relative;
    }
    &_content{
        min-height: 800px;
        max-width: 555px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    &_title{
        &_text{
            font-size: 72px;
            line-height: 60px;
            text-transform: uppercase;
        }
        &_text-2{
            font-size: 57px;
        }
    }
    &_subtitle{
        margin-top: 40px;
        &_text{
            font-size: 28px;
            line-height: 32px;
            font-weight: 400;
            color: #515254;
        }
    }
    &_call_to_actions{
        display: flex;
    }
    &_call_to_action{
        margin-right: 40px;
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 186px;
        height: 192px;
        background-color: #000;
        border-radius: 4px;
        padding: 0px 28px;
        box-sizing: border-box;
        &_title{
            color: #fff;
            text-align: left;
            margin-bottom: 25px;
            font-size: 19px;
            line-height: 24px;
        }
    }
    &_shape{
        position: absolute;
        top: 20%;
        left:38%;
        width: 700px;
        &_wrapper{
            
        }
        &_1{
            position: absolute;
            top: 30%;
            left: 50%;
            width: 630px;
            height: 520px;
            background-color: #000;
            border-radius: 74% 27% 26% 76% / 51% 50% 50% 49%   ;
            transform: rotate(180deg);
            z-index: 3;
            
        }
        &_2{
            position: absolute;
            margin-top: 135px;
            left: 34%;
            width: 430px;
            height: 333px;
            background-color: #64ccf3;
            border-radius: 80% 20% 19% 81% / 51% 50% 50% 49%  ;
            transform: rotate(332deg);
            z-index: 2;
        }
        &_3{
            position: absolute;
            left: 52%;
            width: 514px;
            height: 366px;
            background-color: #ffbb76;
            border-radius: 80% 20% 19% 81% / 51% 50% 50% 49%  ;
            transform: rotate(129deg);
            z-index: 2;
        }
    }
}
