@media (max-width:1440px){
    .main_shape{
        margin-left: 0px;
    }
    .classes_carousel {
        margin-left: 13px;
    }
    .classes_carousel_wrapper{
        min-width: 905px;
    }
    .about_instructor_info_media_banner_img{
        width:515px;
        margin-top: 120px;
    }
    .about_instructor_info_media_banner_play_btn{
        top: 23%;
    }
}