*{
    margin: 0px;
}
body{
    font-family: Poppins;
}

$first-color:#ffc03f;

.container{
    width: 1230px;
    margin: 0 auto;
}
@import 'header';
@import 'main_block';
@import 'classes_block';
@import 'icon_boxes';
